html {
  box-sizing: border-box;
  background: url(https://i.imgur.com/1G9eONy.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Karla', sans-serif;
  color: rgba(255, 255, 255, 1);
}

.tinted {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.8);
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

h1, h2 {
  white-space: nowrap;
  text-align: center;
  font-size: calc(20px + 1vw);
}

.errorMessage {
  display: hidden;
  color: red;
  font-weight: bold;
  font-size: calc(24px + 1vw);
  text-align: center;
}

form {
  display: block;
  text-align: center;
  margin-bottom: 30vh;
}

a:link {
  color: #92D4F4;
}

footer {
  margin: 10px;
}

form label {
  padding-top: 10px;
  padding-bottom: 10px;
}

#foodInput {
  width: 50vh;
  height: 5vh;
  font-size: calc(16px + 1vw);

  background-color: transparent;
  color: rgba(255, 255, 255, 1);

  border-color: #92D4F4;
  border-width: 0px 0px 1px 0px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

.results-list {
  display: flex;
  flex-direction: column;
}

.foodEntry {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  margin: 2vh;
  padding: 10px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}

.exerTitle {
  display: block;
}

.exerEntry {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}

.foodEntry p {
  margin: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.servingNum, .calNum, .exerMin {
  color: #FF2D00;
  font-size: 24px;
}

.foodTitle, .foodCalorie {
  display: block;
  margin: 10px;
}

.foodResults {
  margin: auto;
  padding: 10px;
}

.exerTitle {
  font-weight: bold;
}

.exerPic {
  height: auto;
  width: 16px;
}

[type=submit] {
  margin-top: 10px;
  margin-bottom: 10px;

  border-width: thin;
  border-radius: 12px;

  background-color: #4893D8;
  border-color: #4893D8;
  color: rgba(255, 255, 255, 1); 

  background: url(https://i.imgur.com/f5DFB0A.png) no-repeat center;
  background-size: 64px;
  text-indent: -9999em;
}